<app-navbar></app-navbar>
<p class="title" id="title">Matching requests:</p>
<div *ngFor="let match of matches; let i= index">

  <a [routerLink]="'/matching/'+[match.id]"><div class="card">
      <div class="card-image">
        <div class="media-content">
          <p class="title is-4">{{match.game}}</p>
          <p class="subtitle is-6">Created by {{match.user}}</p>
          <p class="subtitle is-6">Looking for {{match.numberOfPlayers}} players
          </p>
          <p *ngIf="!match.matches?.length">Looks like none has joined yet 😢 </p> <p *ngIf="match.matches?.length" class="subtitle is-6">Users that joined: {{match.matches}}</p>
          <footer class="card-footer">    
          <button id="ybutton" class="button is-primary is-small">See details</button>
          </footer>
        </div>

      </div>

    </div> </a>
</div>
