<app-navbar></app-navbar>
<p class="title" id="title">Matching requests:</p>
<div *ngFor="let match of matches; let i= index">

  <a [routerLink]="'/matching/'+[match.id]"><div class="card">
      <div class="card-image">
        <div class="media-content">
          <p class="title is-4">{{match.game}}</p>
          <p class="subtitle is-6">Created by {{match.user}}</p>
          <p class="subtitle is-6">Looking for {{match.numberOfPlayers}} players
          </p>
          <div class="box"><p class="subtitle is-6">{{match.comment}}</p></div>
          Users that joined: <p class="subtitle is-6">{{match.matches}}</p>
        </div>

      </div>

    </div> </a>
</div>
