.card {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: 1em; 
}

#title {
    width: 40%;
    margin: auto;
    margin-top: 1em;
}

.subtitle{
    margin-top: 1em;
}

.title{
    margin-bottom: 2em;
}