.box {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: 1em; 
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 40%;
    margin-top: 1em;
}

a {
    margin-top: 1em;
}

.button {
    background-color:#ffdc6a;
    color: #393e46;
}

.button:hover {
    background-color:#ffc815;
    color: #393e46;
}