.box {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: 1em; 
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 40%;
    margin-top: 1em;
}

a {
    margin-top: 1em;
}