<div class="navigation-bar">
    <a id="logo" routerLink="/games" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-label="home link"><i class="fas fa-gamepad"></i></a>
    <nav class="container" id="navbar">
        <ul class="link-list" *ngIf="!user">
         
            <li>      <a routerLink="/signup" routerLinkActive="active">Sign up</a>
            </li>
            <li>      <a routerLink="/login" routerLinkActive="active">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
        </ul>
        <ul class="link-list" *ngIf="user != null">
         
            <li>      <a routerLink="/matching" routerLinkActive="active">Create match request</a>
            </li>
            <li>      <a routerLink="/matchinglist" routerLinkActive="active">See matching list</a>
            </li>
            <li><a routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i></a></li>
        </ul>
    
    </nav>
  </div>
