  <div class="box">
    <p class="title"> Create a matching request:</p>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="" value="" [formControl]="userInput">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <!-- <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span> -->
          </div>
        </div>
    
      <div class="field">
        <label class="label">Game:</label>
        <div class="control has-icons-left has-icons-right">
          <div class="control">
            <div class="select">
        
        <select [formControl]="gameInput" >
                <option>Choose a game</option>
                <option *ngFor="let game of games" [ngValue]="game.id">{{game.name}}</option>
              </select>
            </div>
          </div>
          <span class="icon is-small is-left">
            <i class="fas fa-gamepad"></i>
                    </span>
         
        </div>
        <p class="help is-danger" *ngIf="gameInput.hasError('required') && (gameInput.touched || gameInput.dirty)">Game required</p>
      </div>
  

      <div class="field">
    <label class="label">Number of players:</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="number" placeholder="" value="" [formControl]="numberOfPlayerInput">
 
      <span class="icon is-small is-left">
        <i class="fas fa-users"></i>     
       </span>
      <p class="help is-danger" *ngIf="numberOfPlayerInput.hasError('required') && (numberOfPlayerInput.touched || numberOfPlayerInput.dirty)">Number of players required</p>
  
    </div>    
    <label class="label">Comment:</label>
    <textarea class="textarea" [formControl]="commentInput" placeholder="e.g. Looking for 2 players to play with :)"></textarea>

  </div>
  <div class="submit">
      <button type="submit" class="button is-primary">Create match!</button>
    </div>
  </form>
  </div>

  