<app-navbar></app-navbar>
<app-searchbar></app-searchbar>

<div class="container">
<div *ngFor="let game of games; let i = index">
    <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{game.image}}" alt="Placeholder image">
          </figure>
        </div>
            <div class="media-content">
              <p class="title is-4">{{game.name}}</p>
              <p class="subtitle is-6">{{game.rating}}
              </p>
              <a class="tag is-link">{{game.type}}</a>
            </div>
          </div>
</div>
</div>
