<form (ngSubmit)="onSubmit()" [formGroup]="registerForm"class="box">
    <p class="title"> Join us!

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="" value="" [formControl]="nameInput">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <p class="help is-danger" *ngIf="nameInput.hasError('required') && (nameInput.touched || nameInput.dirty)">Name required</p>

  </div>
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="" value="" [formControl]="emailInput">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>

    </div>
    <p class="help is-danger" *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty) || emailInput.hasError('required')">Valid email required</p>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" placeholder="" value="" [formControl]="passwordInput">
      <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
      </span>
      <p class="help is-danger" *ngIf="passwordInput.hasError('required') && (passwordInput.touched || passwordInput.dirty)">Password required</p>
    </div>
  </div>
  <div class="field">
    <label class="label">Confirm password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" placeholder="" value="" [formControl]="passwordConfirmInput">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
        </span>
        <p class="help is-danger" *ngIf="passwordConfirmInput.hasError('required') && (passwordConfirmInput.touched || passwordConfirmInput.dirty)">Password confirmation required</p>

    </div>
  </div>
  <!-- <p class="help is-danger" *ngIf="registerForm.hasError('samePassword') && (passwordConfirmInput.dirty && passwordInput.dirty)">Passwords don't match</p> -->

  <div class="submit">
  <button class="button is-primary">Sign up</button>
</div>
<div class="submit">
<a [routerLink]="'/login/'">Already have an account? Sign in</a>
</div>
</form>
